@use '../../sass/' as *;

.form-subtitles {
    @include form-subtitles;
}

.form {
    @include form-layout;
}
.input {
    @include input-layout;

}
.select-element {
    cursor: pointer;
    font-family: $font-family-primary;
    font-size: .8rem;
    text-transform: uppercase;
    & > * {
        @include form-subtitles;
    }
}
.form-errors {
    height: 3rem;
    @include center;
    justify-content: center;
    font-family: $font-family-primary;
    color: $error-color
}
.valid-ccv {
    display: flex;
    gap: 3rem;
}
.option{
    padding: 1rem 0;
}

.bitcoin {
    background: url(../../assets/bitcoin-logo.png);
}