@use "../utils/variables" as *;

@mixin container {
  background-color: $main-color;
  width: 25.875rem;
  height: 56rem;
  margin: auto;
}

@mixin center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

//titel på home och addcard page
@mixin top-title {
  color: $secondary-color;
  font-family: $font-family-secondary;
  font-style: normal;
  font-weight: 700;
  font-size: 2.188rem;
  text-transform: uppercase;
  margin: 0.5rem auto;
  text-align: center;
  line-height: 100%;
  height: 6.125rem;
  width: 19rem;
  @include center;
}

//under text på home och addcard page
@mixin top-text {
  color: $top-text-color;
  font-family: $font-family-secondary;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 15px;
  text-align: center;
  height: 1.625rem;
  width: 19rem;
  margin-bottom: 0.25rem;
  @include center;
}

//texten på korten
@mixin card-content {
  font-family: $font-family-seconday;
  width: 23.875rem;
  height: 15.063rem;
  border-radius: 0.5rem;
  font-weight: 400;
  font-style: normal;
}

//outlined style på button
@mixin outlined {
  background: $main-color;
  color: $secondary-color;
}

//filled style på button
@mixin filled {
  background: $secondary-color;
  color: $main-color;
}

//styling för knappar
@mixin button {
  cursor: pointer;
  width: 23.875rem;
  height: 5rem;
  border-radius: 0.5rem;
  font-family: $font-family-primary;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.563rem;
  font-size: 1.375rem;
  position: absolute;
  bottom: 1rem;
}

// titlar på formuläret
@mixin form-subtitles {
  color: $secondary-color;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-family: $font-family-primary;
  padding: 1rem 0 0.2rem 0;
}

@mixin form-layout {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

@mixin input-layout {
  border-radius: 8px;
  color: $secondary-color;
  text-transform: uppercase;
  opacity: 80%;
  border: 1px solid $secondary-color;
  padding: 0.8rem;
  width: 23.875rem;
}

@mixin card-layout {
  width: 382px;
  height: 241px;
  border-radius: 8px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.12);
  position: relative;
}

@mixin card-background($background) {
  background: $background;
}

@mixin card-number {
  font-family: $font-family-primary;
  font-size: 29px;
  line-height: 32.48px;
  letter-spacing: 2px;
  position: absolute;
  top: 120px;
  left: 24px;
}

@mixin card-holder {
  font-family: $font-family-primary;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  top: 180px;
  left: 25px;
  text-transform: uppercase;
  text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.24);
}

@mixin card-expiry {
  font-family: $font-family-primary;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  top: 180px;
  right: 25px;
}

@mixin card-vendor($image-url) {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 27.6px;
  height: 38.68px;
  background-image: url(#{$image-url});
  background-size: contain;
  background-repeat: no-repeat;
}
