.card {
    width: 382px;
    height: 241px;
    border-radius: 8px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.12);
    position: relative;

    &.inactive {margin-top: -192px;}

    &.bitcoin {
        background: linear-gradient(0deg, #FFAE34, #FFAE34),
        linear-gradient(248.04deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 99.07%);
    }
    &.evilcorp {
        background: linear-gradient(0deg, #F33355, #F33355),
        linear-gradient(248.3deg, rgba(0, 0, 0, 0.16) 0%, rgba(0, 0, 0, 0) 100%);
        color: #FFFfff;
    }
    &.ninja {
        background: linear-gradient(0deg, #222222, #222222),
        linear-gradient(248.3deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%);
        color: #FFFfff;
    }
    &.blockchain {
        background: linear-gradient(0deg, #8B58F9, #8B58F9),
        linear-gradient(248.52deg, rgba(0, 0, 0, 0.15) 1.49%, rgba(0, 0, 0, 0) 100%);
    }

    &__number{
        font-size: 29px;
        line-height: 32.48px;
        position: absolute;
        height: 42px;
        width: 350px;
        top: 120px;
        left: 16px;
        display:flex;
        justify-content: space-between;
    }

    &__holder {
        font-size: 24px;
        font-weight: 500;
    }
    &__holder::before {
        content: 'CARDHOLDER NAME';
        display: block;
        font-size: 12px;
        color: #000000;
        margin-bottom: 8px;
    }
    &__expiry::before {
        content: 'VALID THRU';
        display: block;
        font-size: 12px;
        color: #000000;
        margin-bottom: 8px;
    }
    
    &__vendor {
        position:absolute;
        background: rgba(255, 255, 255, 0.8);


        &.bitcoin {
            background-image: url('../../assets/bitcoin-logo.png');
            background-size: 100px;
        }

    }
}