@use "../../sass/" as *;

.card {
  @include card-layout;
  background: $add-new-bank-card-color;

  &.bitcoin {
    @include card-background($bitcoin-color);
  }

  &.ninja {
    @include card-background($ninja-vendor-color);
  }

  &.blockchain {
    @include card-background($block-chain-inc-color);
  }

  &.evilcorp {
    @include card-background($evil-corp-color);
  }

  &__number {
    @include card-number;
  }

  &__holder {
    @include card-holder;
  }
  &__holder::before {
    content: "CARDHOLDER NAME";
    display: block;
    font-size: 12px;
    color: #000000;
    margin-bottom: 3px;
  }

  &__expiry {
    @include card-expiry;
  }
  &__expiry::before {
    content: "VALID THRU";
    display: block;
    font-size: 12px;
    color: #000000;
    margin-bottom: 3px;
    margin-left: -18px;
  }

  &__vendor {
    @include card-vendor;
  }

  &.bitcoin {
    &__vendor {
      background: url(../../assets/bitcoin-logo.png) no-repeat;
    }
  }
}
