@use "../../sass/" as *;

.card {
  @include card-layout;
  background: $add-new-bank-card-color;
  color: $main-color;

  &.bitcoin {
    @include card-background($bitcoin-color);

    .card__vendor {
      @include card-vendor("../../assets/bitcoin-logo.png");
    }

    color: $secondary-color;
  }

  &.ninja {
    @include card-background($ninja-vendor-color);

    .card__vendor {
      @include card-vendor("../../assets/ninja-bank-logo.png");
    }
  }

  &.blockchain {
    @include card-background($block-chain-inc-color);

    .card__vendor {
      @include card-vendor("../../assets/block-chain-logo.png");
    }
  }

  &.evilcorp {
    @include card-background($evil-corp-color);

    .card__vendor {
      @include card-vendor("../../assets/evil-corp-logo.png");
    }
  }

  &__number {
    @include card-number;
  }

  &__holder {
    @include card-holder;
  }
  &__holder::before {
    content: "CARDHOLDER NAME";
    display: block;
    font-size: 12px;
    margin-bottom: 3px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.24);
  }

  &__expiry {
    @include card-expiry;
  }
  &__expiry::before {
    content: "VALID THRU";
    display: block;
    font-size: 12px;
    margin-bottom: 3px;
    margin-left: -18px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.24);
  }
}
