@use '../sass' as *;

.card__container {
    position: relative;
    @include container;
    @include center;

    &--header {
        @include top-title;
    }

    &--subheader {
        @include top-text;
        position: relative;
    }

    &--button {
        position: absolute;
        font-family: $font-family-secondary;
        right: 0;
        background: none;
        color: $top-text-color;
        border: 1px solid $top-text-color;
        border-radius: 0.5rem;
        padding: 0.1rem 0.5rem;
        cursor: pointer;
        transition: .3s;
        
        &:hover {
            background-color: $top-text-color;
            color: $main-color;
        }
    }

    &--activeCard {
        margin-bottom: 40px;
        height: 15.063rem;
        font-family: $font-family-primary;
    }

    &--list {
        $listHeight: 21.25rem;
        border-radius: 0.5rem 0.5rem 0 0;
        height: $listHeight;
        width: 25.875rem;
        overflow-y: hidden; 
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    

        @for $cards from 1 through 10 {
            &-item-#{$cards} {
                $totalMargin: if($cards > 1, ($listHeight - 15.063rem * $cards) / ($cards - 1), 0);
    
                    flex-shrink: 0;
                    
                    @for $n from 1 through $cards {
                        &:nth-child(#{$n}) {
                            margin-top: if($n == 1, 0, $totalMargin);
                        }
                    }
            }
        }
    }
}


.card__addButton {
    position: absolute;
    bottom: 1.0625rem;
}