.card__container {
    position: relative;
    @include container;
    @include center;

    &--header {
        @include top-title;
    }

    &--subheader {
        @include top-text;
        position: relative;
    }

    &--button {
        position: absolute;
        font-family: $font-family-secondary;
        right: 0;
        background: none;
        color: $top-text-color;
        border: 1px solid $top-text-color;
        border-radius: 0.5rem;
        padding: 0.1rem 0.5rem;
        cursor: pointer;
        transition: .3s;
        
        &:hover {
            background-color: $top-text-color;
            color: $main-color;
        }
    }

    &--activeCard {
        margin-bottom: 40px;
        font-family: $font-family-primary;
    }

    &--list {
        padding-top: 192px;
        border-radius: 0.5rem 0.5rem 0 0;
        overflow-y: hidden; 
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

            & > * {
                position: absolute;
                flex-shrink: 0;
                margin-top: 10px;
            }
        }
    }


.card__addButton {
    position: absolute;
    bottom: 1.0625rem;
    // margin-top: auto;
    // margin-bottom: 6px;
}